*{
	margin: 0;
	padding: 0;
}
:root{
	--color-bg:#F3ECEC;
	--color-main:#29A688;
	--color-deep:#2f2f2f;
	--color-white:white;
	--color-black:black;
	--color-smart-black:#3C3C3C;
}
body{
	background:var(--color-bg);
	font-family: sans-serif;
	color: var(--color-black);
}



.container{
    margin: 0 auto;
    width: 90%;
}

.header_section .nav_bar{
    width: 90%;
    height: 50px;
    background: var(--color-main);
    position: fixed;
    top: 30px;
    border: 3px solid var(--color-smart-black);
    border-radius: 15px;
}

.header_section .nav_bar .nav_list{
    width: 80%;
    float: left;
}
.header_section .nav_bar .nav_list li{
    list-style: none;
    float: left;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
}
.header_section .nav_bar .nav_list li:hover{
    color: #ebebeb;
    transition: all 0.3s ease-in-out;
}
.header_section .nav_bar .nav_brand{
    padding: 10px 25px;
    font-size: 25px;
    color: white;
    float: right;
}

.header_section .into_bar{
    width: 100%;
    
}
.header_section .into_bar .bg_style{
    font-size: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: var(--color-main);
}


